@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome to my Passion Project!</h2>
    <p>
        This project demonstrates following technologies:
        <ul>
            <li>ASP.NET WebAPI</li>
            <li>ASP.NET MVC</li>
            <li>Entity Framework</li>
        </ul>
    </p>
</div>